<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="tcp" 
					  address="net.tcp://localhost:1234/ServiceMajuscule" 
					  binding="netTcpBinding" 
					  contract="WCFContrat.IService1"  />
			<endpoint name="principal" 
					  address="http://localhost:1235/ServiceMajuscule" 
					  binding="basicHttpBinding"
					  contract="WCFContrat.IService1"/>
		</client>
	</system.serviceModel>
</configuration>