<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="WCFService.Service1">
                <endpoint address="net.tcp://localhost:1234/ServiceMajuscule"
                    binding="netTcpBinding" bindingConfiguration="" contract="WCFContrat.IService1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>